# Operating System
.DS_STORE
**/*.DS_STORE

# Dependencies
node_modules

# Cache
.npm

# History
.node_repl_history

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons
# (http://nodejs.org/api/addons.html)
build/Release